#for_get_name {
    display: none;
}

table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;

}

#family, #school, #trip, #exercise {
    width: 500px;
    font-weight: bold;
}

#family_content, #school_content, #trip_content, #exercise_content {
    height: 300px;
    overflow: auto;
}

#family, #trip {
    background-color: burlywood;
}

#school, #exercise {
    background-color: powderblue;
}

#box_add {
    width: 300px;
    height: auto;
    position: fixed;
    left: 250px;
    top: 200px;
    background-color: dodgerblue;
    padding: 20px;
    line-height: 40px;
    display: none;
}

#box_search {
    width: 300px;
    height: auto;
    position: fixed;
    left: 250px;
    top: 200px;
    background-color: dodgerblue;
    padding: 20px;
    line-height: 40px;
    display: none;
}

#wait_window {

    width: 300px;
    height: auto;
    position: fixed;
    left: 250px;
    top: 200px;
    background-color: dodgerblue;
    padding: 20px;
    line-height: 40px;
    display: none;
    
}