.maintainBoard{
    width: 960px;
    height: 750px;
    background-color: darkgreen;
}


.card_results{
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);
    background-color: rgb(0, 80, 0);
    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
}   

.card_normal{
  border-radius: 6px;
  border: 2px solid rgb(40, 59, 13);
  
  width: 100px;
  height: 125px;
}

.card_empty{
    width: 100px;
    height: 125px;
  
}

#table1 {
    border-spacing: 15px;
}

#win_window {
    width: 300px;
    height: 500px;
    position: fixed;
    left: 250px;
    top: 250px;
    background-color: dodgerblue;
    padding: 20px;
    line-height: 40px;
    display: none;
}

.card {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);
    background-color: rgb(0, 80, 0);
    width: 100px;
    height: 125px;
    background-image: url("data/1_1.jpg");
}

#process1 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 25px;
}

#process2 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 150px;
}

#process3 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 275px;
}

#process4 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 400px;
}

#process5 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 525px;
}

#process6 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 650px;
}

#process7 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 775px;
}