.maintainBoard{
    width: 960px;
    height: 750px;
    background-color: darkgreen;
}


.card_results{
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);
    background-color: rgb(0, 80, 0);
    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
}   

#result1 {
    background-image: url("data/1_1_background.jpg");
    /* opacity: 0.5; */
}

#result2 {
    background-image: url("data/2_1_background.jpg");
    /* opacity: 0.5; */
}

#result3 {
    background-image: url("data/3_1_background.jpg");
    /* opacity: 0.5; */
}

#result4 {
    background-image: url("data/4_1_background.jpg");
    /* opacity: 0.5; */
}

.card_normal{
  border-radius: 6px;
  border: 2px solid rgb(40, 59, 13);
  
  width: 100px;
  height: 125px;
}

.card_empty{
    width: 100px;
    height: 125px;
  
}

tr>td#back_card{
    background-image: url("data/refill_card_background.jpg");
    left: 25px;
}

tr>td#front_card{
    left: 150px;
}

#table1 {
    border-spacing: 15px;
}

#win_window {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 250px;
    top: 250px;
    background-color: dodgerblue;
    padding: 20px;
    line-height: 40px;
    display: none;
    text-align: center;
}

.card {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);
    background-color: rgb(0, 80, 0);
    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    z-index: 3;
}

#showCurrentTime {
    position: absolute;
    top: 30px;
    /* right: -10px; */
    left: 880px;
    background-color: aliceblue;
    font-style: inherit;
}

#showCurrentScore {
    position: absolute;
    top: 55px;
    /* right: -10px; */
    left: 880px;
    background-color: aliceblue;
    font-style: inherit;
}

#other_scores {
    position: absolute;
    top: 90px;
    /* right: -10px; */
    left: 880px;
    background-color: aliceblue;
    font-style: inherit;
}

#process1 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 25px;
}

#process2 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 150px;
}

#process3 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 275px;
}

#process4 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 400px;
}

#process5 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 525px;
}

#process6 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 650px;
}

#process7 {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    /* background-image: url("data/1_1.jpg"); */
    position: absolute;
    top: 160px;
    left: 775px;
}

#drag_test {
    border-radius: 6px;
    border: 2px solid rgb(40, 59, 13);

    width: 100px;
    height: 125px;
    background-image: url("data/1_4.jpg");
    position: absolute;
    top: 160px;
    left: 775px;
}